<div class="pz afo d-none vy">
  <div class="qa">
    <h6 class="afh">Topics </h6>
    <ul class="bow box">

      <% topics.each do |k| %>
        <li class="rv afh">
          <div class="rw">
            <strong><a href=<%= "/blogs/topics/#{k.title}"%> id="markdown-toc-contents"><%= k.title %></a></strong>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="qg">
    Dave really likes these nerds, no one knows why though.
  </div>
</div>