<h2>Create new portfolio item</h2>

<%= render 'form', portfolio_item: @portfolio_item %>

<%= link_to 'Back', portfolios_path %>

<!--<br/>-->
<!--<li class="rv b agz">-->
<!--  <div class="input-group">-->
<!--    <input type="text" class="form-control" placeholder="Message">-->
<!--    <div class="bpt">-->
<!--      <button type="button" class="cg ns yf">-->
<!--        <span class="h bao"></span>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->