<!--<p><%#= portfolio.title %></p>-->
<%#= link_to 'Show', portfolio %>
<%#= link_to 'Edit', edit_portfolio_path(portfolio) if logged_in?(:site_admin)%>
<!--<td><%#= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' }  if logged_in?(:site_admin)%></td>-->
<!--<p><%#= portfolio.body %></p>-->
<!--<p><%#= portfolio.subtitle %></p>-->
<!--<img src="<%#= "#{portfolio.thumbnail_image}"%>">-->

<br/>

<li class="rv b agz">
  <!--          <img-->
  <!--            class="bos vb yb aff"-->
  <!--            src= <%#= asset_path "avatar-dhg.png"%>>-->
  <div class="rw">
    <div class="bpb">
<!--      <small class="acx axc">4 min</small>-->
      <h6><%= portfolio.title %></h6>
    </div>

    <p>
      <%= portfolio.body %>
    </p>

    <div class="boy" data-grid="images">
      <div style="display: none">
        <img data-action="zoom" data-width="1050" data-height="700" src=<%= asset_path portfolio.main_image %>>
      </div>

<!--      <div style="display: none">-->
<!--        <img data-action="zoom" data-width="640" data-height="640" src= <%#= asset_path "instagram_1.jpg"  %>>-->
<!--      </div>-->

<!--      <div style="display: none">-->
<!--        <img data-action="zoom" data-width="640" data-height="640" src=<%#= asset_path "instagram_13.jpg"  %>>-->
<!--      </div>-->

<!--      <div style="display: none">-->
<!--        <img data-action="zoom" data-width="1048" data-height="700" src=<%#= asset_path "unsplash_2.jpg"  %>>-->
<!--      </div>-->
    </div>

    <!--            <ul class="bow afa">-->
    <!--              <li class="rv afh">-->
    <!--                <img-->
    <!--                  class="bos vb yb aff"-->
    <!--                  src=<%#= asset_path "avatar-fat.jpg"%>>-->
    <!--                <div class="rw">-->
    <!--                  <strong>Jacon Thornton: </strong>-->
    <!--                  Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.-->
    <!--                </div>-->
    <!--              </li>-->
    <!--              <li class="rv">-->
    <!--                <img-->
    <!--                  class="bos vb yb aff"-->
    <!--                  src=<%#= asset_path "avatar-mdo.png" %>>-->
    <!--                <div class="rw">-->
    <!--                  <strong>Mark Otto: </strong>-->
    <!--                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.-->
    <!--                </div>-->
    <!--              </li>-->
    <!--            </ul>-->
  </div>
</li>

