<div class="boq" style="background-image: url( <%= about.cover %>);">
  <div class="by">
    <div class="bor">
            <img class="us bos" src=<%= about.dp %>>
      <%#= image_tag "avatar-dhg.png", class: "us bos"%>
      <h3 class="bou"><%= about.name%></h3>

    </div>
    <p class="bot">
      <%= about.des %>
    </p>
  </div>

  <nav class="bov">
    <ul class="nav ph xm">
      <li class="pi">
        <span class="h blp">
          <a class="pg active" href="/portfolios">View Portfolio</a>
        </span>
      </li>
    </ul>
  </nav>
</div>