<!-- Header -->
<!--<header id="header">-->
<!--  <a class="logo" href="index.html">Industrious</a>-->
<!--  <nav>-->
<!--    <a href="#menu">Menu</a>-->
<!--  </nav>-->
<!--</header>-->

<!-- Nav -->
<!--<nav id="menu">-->
<!--  <ul class="links">-->
<!--    <li><a href="index.html">Home</a></li>-->
<!--    <li><a href="elements.html">Elements</a></li>-->
<!--    <li><a href="generic.html">Generic</a></li>-->
<!--  </ul>-->
<!--</nav>-->

<!-- Heading -->
<div id="heading" >
  <h1>About Me</h1>
</div>

<!-- Main -->
<section id="main" class="wrapper">
  <div class="inner">
    <div class="content">
      <header>
        <h2>Nabeel Mustafa</h2>
      </header>
      <hr />
      <h3>Software Engineer. Full stack web developer</h3>
      <p>Software Engineer at Engin technologies, BS-IT degree from the PUCIT, University of Punjab, Lahore, Pakistan. Experienced Web Developer, expertise in front-end development and client side manipulation using Reactjs,redux, Emberjs and Angular 4/5 with Ruby on rails as a backend. Exposure of nodejs, express, asp.net, sql and nosql databases along with the git version-control system.</p>
    </div>
  </div>
</section>


