<div id="heading" >
  <h1>Hye! want to catch up. See below</h1>
</div>


<section class="wrapper">
  <div class="inner">

    <div class="testimonials">
      <section>
        <div class="content">
          <blockquote>
            <p class="credit">- <strong>Email Me at nabeelmustafa729@gmail.com</strong> <br><span>Will reply Asp</span></p>
            <p><a href="maillto:nabeelmustafa729@gmail.com" target="_blank">Click me</a></p>
          </blockquote>
<!--          <div class="author">-->
<!--            <div class="image">-->
<!--              <img src="images/pic01.jpg" alt="" />-->
<!--            </div>-->

<!--          </div>-->
        </div>
      </section>
      <section>
        <div class="content">
          <blockquote>
            <p class="credit">- <strong>Send me your words</strong> <br><span>Address</span></p>
            <p>73-B, Sayam street, Maqbool road, Ichraa, LAhore 54000, Pakistan</p>
          </blockquote>
          <!--          <div class="author">-->
          <!--            <div class="image">-->
          <!--              <img src="images/pic01.jpg" alt="" />-->
          <!--            </div>-->

          <!--          </div>-->
        </div>
      </section>
      <section>
        <div class="content">
          <blockquote>
            <p class="credit">- <strong>Ping me at</strong> <br><span>Whatsapp/Call</span></p>
            <p><a>+92 3054729926</a></p>
          </blockquote>
          <!--          <div class="author">-->
          <!--            <div class="image">-->
          <!--              <img src="images/pic01.jpg" alt="" />-->
          <!--            </div>-->

          <!--          </div>-->
        </div>
      </section>

    </div>
      <header class="special">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3400.8954110083423!2d74.30914476305546!3d31.52703240832991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzHCsDMxJzM3LjMiTiA3NMKwMTgnMzcuMSJF!5e0!3m2!1sen!2s!4v1548509335171" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </header>
  </div>
</section>